<template>
    <div>
        <el-form class="user-data-top">
            <el-form-item label="用户名:">
                <el-input placeholder="请输入查找用户名"/>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" size="small">搜索</el-button>
                <el-button type="primary" size="small">重置</el-button>
            </el-form-item>
        </el-form>
        <el-table :data="rootData" style="width: 100%" :stripe="true" ref="table" class="user-data-table" >
            <el-table-column label="序号" type="index" property="date" width="60"></el-table-column>
            <el-table-column label="id" property="id" width="100"></el-table-column>
            <el-table-column label="权限" property="desc" width="100"></el-table-column>
            <el-table-column label="创建时间" prop="creatdate" width="150"></el-table-column>
            <el-table-column label="更新时间" property="updateDate" width="150"></el-table-column>
            <el-table-column label="操作" fixed="right" min-width="220">
                <template #default="scope">
                    <el-button size="small" type="primary"
                        @click="controlDialog('权限分配', true, (scope.row as rootData))">分配权限</el-button>
                    <el-button size="small" type="primary"  
                    @click="controlDialog('编辑', true, (scope.row as rootData))">编辑</el-button>
                    <el-button size="small" type="danger"  
                    @click="controlDialog('删除', true, (scope.row as rootData))">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <!-- 表单操作对话框 -->
    <el-dialog v-model="diagloData.status" :title="diagloData.mode" width="50%" min-width="600px">
            <!-- 权限分配对话框的内容 -->
            <el-checkbox-group v-model="roots.checkRoots" v-if="diagloData.mode==='权限分配'">
                <el-checkbox v-for="(item, index) in roots.allRoots" :key="index" :label="item" />
            </el-checkbox-group>
            <!-- 编辑角色内容 -->
            <el-form v-if="diagloData.mode==='编辑'">
                <el-form-item label="新名字：">
                    <el-input  v-model="diagloData.desc" placeholder="请输入修改名称"/>
                </el-form-item>
            </el-form>
            <!-- <div v-if="diagloData.mode==='编辑'">角色名字<input type="text" v-model="diagloData.desc"></div> -->
            <!-- 删除角色对话框内容 -->
            <h2 v-if="diagloData.mode==='删除'">确认删除“{{ diagloData.desc }}”角色吗？</h2>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="diagloData.status = false">返回</el-button>
                    <el-button type="primary">确定</el-button>
                </span>
            </template>
    </el-dialog>
    
</template>

<script setup lang="ts">
import { reactive } from 'vue';
import type { rootData } from '../../api/user/acl/type'
const roots: { allRoots: string[], checkRoots: string[] } = reactive({
    allRoots: ['用户管理', '商品管理', '权限管理', '管理1', '管理2'],
    checkRoots: []
})
const diagloData: { status: boolean, mode: string,desc:string } = reactive({
    status: false,
    mode: '',
    desc:''
})
const rootData: rootData[] = reactive([
    {
        id: 1,
        creatdate: '2016-05-03',
        updateDate: '2016-05-03',
        desc: '平台管理员',
        root: ['用户管理', '商品管理']
    },
    {
        id: 2,
        creatdate: '2016-05-03',
        updateDate: '2016-05-03',
        desc: '系统管理员',
        root: ['用户管理', '商品管理', '权限管理']
    }
])
const controlDialog = (mode: string, status: boolean, data: rootData) => {
    diagloData.status = status
    diagloData.mode = mode
    diagloData.desc = data.desc
    roots.checkRoots = data.root
}
</script>

<style scoped>
.user-data-top{
   margin-bottom: 20px;
    /* border: 1px solid rgb(228, 219, 219); */
    box-shadow: 0 0 2px 3px rgba(212, 207, 207, 0.2);
    padding: 20px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.user-data-table{
    box-shadow: 0 0 2px 3px rgba(212, 207, 207, 0.2);
}
</style>