<template>
    <svg :style="`width:${ width};height:${height}`">
        <use :xlink:href="prefix+name" :fill="color"></use>
    </svg>
</template>

<script setup lang="ts">
// import { defineProps } from 'vue';
    defineProps({
        prefix:{
            type:String,
            default:'#icon-'
        },
        name:String,
        color:{
            type:String,
            default:'#FFF'
        },
        width:{
            type:String,
            default:'20px'
        },
        height:{
            type:String,
            default:'20px'
        }
    })


</script>

<style></style>