<template>
    <div>
        <el-form class="user-data-top">
            <el-form-item label="商品名字:">
                <el-input placeholder="请输入查找商品名字"/>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" size="small">搜索</el-button>
                <el-button type="primary" size="small">重置</el-button>
            </el-form-item>
        </el-form>
        <el-table :data="formData" style="width: 100%" :stripe="true" ref="table" class="user-data-table" >
            <el-table-column label="序号" type="index" property="date" width="60"></el-table-column>
            <el-table-column label="id" property="id" width="50"></el-table-column>
            <el-table-column label="名字" property="name" width="80"></el-table-column>
            <el-table-column label="品牌" property="brand" width="80"></el-table-column>
            <!-- <el-table-column label="上线时间" prop="creattime" width="150"></el-table-column> -->
            <el-table-column label="图片" width="250"> 
                <template #default="scope">
                    <el-image :src="scope.row.url" style="width: 240px; height: 230px"></el-image>
                </template>
            </el-table-column>
            <el-table-column label="描述" prop="details" width="150"></el-table-column>
            <!-- <el-table-column label="更新时间" property="updateDate" width="150"></el-table-column> -->
            <el-table-column label="操作" fixed="right" min-width="220">
                <template #default="scope">
                    <!-- <el-button size="small" type="primary"
                        @click="controlDialog('权限分配', true, (scope.row as goodsData))">分配权限</el-button> -->
                    <el-button size="small" type="primary"  
                    @click.stop="controlDialog('编辑', true, (scope.row as goodsData))">编辑</el-button>
                    <el-button size="small" type="danger"  
                    @click="controlDialog('删除', true, (scope.row as goodsData))">删除</el-button>
                </template>
            </el-table-column>
            
        </el-table>
        <el-pagination 
        background 
        layout="prev, pager, next,sizes" 
        :total="goodsData.arr.length"  
        v-model:page-size="pageSize"  
        v-model:current-page="currentPage"
        :page-sizes="[1, 2, 5, 10]"
        
        />
    </div>
    <!-- 表单操作对话框 -->
    <el-dialog v-model="diagloData.status" :title="diagloData.mode" width="50%" min-width="600px">
            <!-- 编辑商品内容 -->
            <el-form v-if="diagloData.mode==='编辑'">
                <el-form-item label="名字：">
                    <el-input  v-model="diagloData.data.name" placeholder="请输入修改名称"/>
                </el-form-item>
                <el-form-item label="品牌：">
                    <el-input  v-model="diagloData.data.brand" placeholder="请输入修改名称"/>
                </el-form-item>
                <el-form-item label="详情：">
                    <el-input  v-model="diagloData.data.details" placeholder="请输入修改名称"/>
                </el-form-item>
                <el-form-item label="选择上传图片：">
                    <input type="file" id="upload_input" name="file" ref="upload_input" @change="filechange(diagloData.data)">
                    <!-- <el-upload
                        :on-change = uplodeSuccess()
                        :on-success.stop = uplodeSuccess()
                        class="avatar-uploader"
                        action="http://localhost:8000/goods/upload"
                        :show-file-list="false"
                    >
                        <el-icon  class="avatar-uploader-icon"><Plus /></el-icon>
                    </el-upload> -->
                </el-form-item>
            </el-form>
            <!-- 删除角色对话框内容 -->
            <h2 v-if="diagloData.mode==='删除'">确认删除“{{ diagloData.data.name }}”商品吗？</h2>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="diagloData.status = false">返回</el-button>
                    <el-button type="primary">确定</el-button>
                </span>
            </template>
    </el-dialog>
    
</template>

<script setup lang="ts">
import { reactive,ref,onMounted,computed} from 'vue';
import type { goodsData } from '../../api/goods/type'
import usegoods from "../../store/modules/goods";
import UploadFiles from '../../../src/utils/upload'

// 编辑弹窗 控制数据
const diagloData: { status: boolean, mode: string,data:goodsData|undefined} = reactive({
    status: false,
    mode: null,
    data: undefined
})
// 表单每页数据 条数 和当前页数
let pageSize = ref(1)
let currentPage = ref(1)

// 商品所有数据
const goodsData: {arr:goodsData[]} = reactive({arr:[]})

// 上传dom获取


const upload_input = ref() 
// 上传文件 文件修改触发函数
const filechange = async (data:goodsData)=>{
    
    // @ts-ignore
    const upload = new UploadFiles((upload_input as HTMLInputElement),'/goods/upload')
    const myUpload = upload.upload(data)
    // if(myUpload)
    myUpload.then(response=>{
        console.log('kkk',response)
    }).catch(err=>{
        console.log('kkkeee',err)
    })
}

// 编辑弹窗控制方法
const controlDialog = (mode: string, status: boolean, data: goodsData) => {
    diagloData.status = status
    diagloData.mode = mode
    diagloData.data = data
    // roots.checkRoots = data.root
}
// const uplodeSuccess = ()=>{
//     // alert('ok')
//     console.log('ok')
// }
// const uplodeError = ()=>{
//     alert('err')
// }
// 使用pinia仓库
let usegoodsStore = usegoods()
onMounted( async ()=>{
    // handleFormData()
    let result =  usegoodsStore.goods_info()
    result.then(res=>{
        goodsData.arr = res as goodsData[]
    }).catch(err=>{
        console.log(err)
    }
    )
})

// 表格显示数据 计算
const formData = computed(()=>{
    return goodsData.arr.slice((currentPage.value-1)*pageSize.value,currentPage.value*pageSize.value)
})
</script>

<style scoped lang="scss">
.user-data-top{
   margin-bottom: 20px;
    /* border: 1px solid rgb(228, 219, 219); */
    box-shadow: 0 0 2px 3px rgba(212, 207, 207, 0.2);
    padding: 20px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.user-data-table{
    box-shadow: 0 0 2px 3px rgba(212, 207, 207, 0.2);
}
</style>../../store/modules/goods