<template>
    <div>
        <div ref="main" style="width:100%;height:300px;"></div>
    </div>
</template>

<script setup lang="ts">
import * as echarts from 'echarts';
import { onMounted, ref } from 'vue';

const props = defineProps({
    title: String,
    data: Array,

})
const main = ref()
onMounted(() => {
    const myChart = echarts.init(main.value)
    myChart.setOption({
        title: {
            text: '近期登录人数'
        },
        tooltip: {},
        xAxis: {
            type: 'category',
            data: ['10-02', '10-03', '10-04', '10-05', '10-06', '10-07', '10-08']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '人数',
                type: 'line',
                data: [45, 6, 4, 6, 2, 1, 9]
            }
        ]
    });
})



</script>

<style scoped></style>