<template>
    <div class="box-container">
        <ScreenTitle title="计划每日按车间占比"> </ScreenTitle>
        <div  ref="echart_main" style="width: 100%;height: 390px;">

        </div>
    </div>
</template>

<script setup lang="ts">
import ScreenTitle from './screenTitle.vue';
import { reactive, ref, onMounted } from 'vue';
import * as echarts from 'echarts'

const echart_main = ref(null)
const echartDatas = reactive({
   
  legend: {
    orient: "vertical",
    left: "right-center",
    // data: ["Apple", "Grapes", "Pineapples", "Oranges", "Bananas"]
  },
  series: [{
    type: "pie",
    data: [{
      value: 335,
      name: "Apple"
    }, {
      value: 310,
      name: "Grapes"
    }, {
      value: 234,
      name: "Pineapples"
    }, {
      value: 135,
      name: "Oranges"
    }, {
      value: 1548,
      name: "Bananas"
    }]
  }]
})

function setECharts() {
    const myECharts = echarts.init(echart_main.value)
    myECharts.setOption({
        xAxis: {
            type:'category',
            data:['车间1线','车间2线','车间3线','车间4线','车间5线','车间6线'],
            axisLabel:{
              rotate:'30'
            }

        },
        yAxis: {
            type:'value'
        },
        legend:{
            orient: "vertical",
            // left: "center",
            right:'50px',
            top:'center'
        },
        series: [
            {
                type: 'bar',
                // radius: ['50%', '75%'],
                data:['100','190','170','90','120','70'],
                // markLine:{
                //   data:{
                //     name:'100%',
                //     value:100
                //   }
                // },
                itemStyle:{
                  color:function (params){
                    if(params.value<100){
                      return '#ff9233'
                    }
                    else if(params.value>100){
                      return '#e24347'
                    }
                    return '#2f8ffd'
                  }
                },
                label:{
                    show:true,
                    position:'top',
                    format:'{c}%',
                }
            }
        ]
        
    })
}
onMounted(() => {
  setECharts()  
})
</script>

<style scoped>

.box-container{
    /* width: 500px; */
    /* height: auto; */
    width: 100%;
    background-color: #020828;
    border-bottom-right-radius: 10px;
}

</style>