<template>
    
    <div class="box-top">{{ props.title }}</div>
    
</template>

<script setup lang="ts">
const props = defineProps({
    title:String 
})
</script>

<style scoped>

.box-top{
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-left: 5px solid #76d9e9;
    background-color: #10154d;
    color: #4c81b5;
    text-indent: 30px;
}
</style>