<template>
  <div class="box-container">
    <ScreenTitle title="计划每日按车间占比"> </ScreenTitle>
    <div ref="echart_main" style="width: 100%;height: 330px;">

    </div>
  </div>
</template>

<script setup lang="ts">
import ScreenTitle from './screenTitle.vue';
import { reactive, ref, onMounted } from 'vue';
import * as echarts from 'echarts'

const echart_main = ref(null)

const dataArr = [
  { name: 'AI', value: 0.02 },
  { name: 'DIP', value: 0.16},
  { name: 'SMT', value:67.380 },
  { name: '激光', value: 0.16 },
  { name: '组装', value:  32.28 },
  // { name: '数据2数据2', value: 97 }
]

function setECharts() {
  const myECharts = echarts.init(echart_main.value)
  myECharts.setOption({
    xAxis: {
      type: 'category',
      // data:['AI','DIP','SMT','激光','组装']
      show:false

    },
    yAxis: {
      type: 'value'
    },
    legend: {
      orient: "vertical", // 横竖排列
      // left: "center",
      right: '50px',
      top: 'center',
      itemWidth: 25,
      itemHeight: 25,
      borderRadius: 25,
      textStyle: {
        color: '#fff',
        fontSize: 20
      }

    },
    series: [
      {
        type: 'pie',
        radius: ['50%', '75%'],
        data: dataArr,
        left:'-10%',
        label: {
          show: true,
          position: 'outside',
          format: '{d}%',
          // color:'red'
        }
      }
    ]

  })
}
onMounted(() => {
  setECharts()
})
</script>

<style scoped>
.box-container {
  /* width: 500px; */
  /* height: auto; */
  width: 100%;
  background-color: #020828;
  border-bottom-right-radius: 10px;
}
</style>