<template>
  <div class="box-container">
    <ScreenTitle title="计划每日按车间占比"> </ScreenTitle>
    <div ref="echart_main" style="width: 100%;height: 390px;">

    </div>
  </div>
</template>

<script setup lang="ts">
import ScreenTitle from './screenTitle.vue';
import { reactive, ref, onMounted } from 'vue';
import * as echarts from 'echarts'

const echart_main = ref(null)
const echartDatas = reactive({})
const dataArr = [
  { name: '数据1数据1', value: 77 },
  { name: '数据2数据2', value: 97 }
]
function setECharts() {
  const myECharts = echarts.init(echart_main.value)
  // const dataArr = []
  myECharts.setOption({
    xAxis: {
      type: 'category',
    },
    yAxis: {
      type: 'value'
    },
    legend: {
      orient: "vertical", // 横竖排列
      // left: "center",
      right: '50px',
      top: 'center',
      itemWidth: 25,
      itemHeight: 25,
      borderRadius: [25],
      textStyle: {
        color: '#fff',
        fontSize: 20
      }

    },
    series: [
      {
        type: 'pie',
        radius: ['50%', '80%'],
        data: dataArr,
        left: '-30%',
        label: {
          formatter: '{d}',
        },
        
        itemStyle: {
          normal: {
            color: function (colors) {
              var colorList = [
                '#ffbc37',
                '#8e36fa'
              ];
              return colorList[colors.dataIndex];
            }
          },
        }
      }
    ]

  })
}
onMounted(() => {
  setECharts()
})
</script>

<style scoped>
.box-container {
  /* width: 500px; */
  /* height: auto; */
  width: 100%;
  background-color: #020828;
  border-bottom-right-radius: 10px;
}
</style>