<template>
    <h5 class="mb-2">后台系统</h5>


    <el-menu class="el-menu-vertical" background-color="rgb(0,20,44)" active-text-color="#ffd04b" text-color="#fff"
        menu-trigger="hover" :router="true">
        <template v-for="item in menuData" :key="item.id">
            <el-menu-item v-if="!item.childern" :index="item.path">
                <el-icon>
                    <component :is="item.icon"></component>
                </el-icon>
                <span>{{ item.name }}</span>
            </el-menu-item>
            <el-sub-menu v-else>
                <template #title>
                    <el-icon>
                        <component :is="item.icon" />
                    </el-icon>
                    <span>{{ item.name }}</span>
                </template>
                <el-menu-item v-for="item1 in item.childern" :key="`${item.id}-${item1.id}`" :index="item1.path">
                    <el-icon>
                        <component :is="item1.icon" />
                    </el-icon>
                    <span></span> {{ item1.name }}</el-menu-item>
            </el-sub-menu>
        </template>
    </el-menu>
</template>

<script setup lang="ts">
// import { HomeFilled, Lock, ShoppingBag, Box, User } from '@element-plus/icons-vue'
import { reactive } from 'vue'

const menuData = reactive([
    {
        id: 1,
        name: '首页',
        path: 'home',
        icon: 'HomeFilled'
    },
    {
        id: 2,
        name: '数据大屏',
        path: 'screen',
        icon: 'box'
    },
    {
        id: 3,
        name: '权限管理',
        // path: '',
        icon: 'lock',
        childern: [
            {
                id: 1,
                name: '用户管理',
                path: 'rootUserdata',
                icon: 'User'
            },
            {
                id: 2,
                name: '权限管理',
                path: 'rootUserRoot',
                icon: 'Lock'
            }
        ]
    },
    {
        id: 4,
        name: '商品管理',
        path: 'goodsData',
        icon: 'ShoppingBag'
    }
])
</script>

<style scoped lang="scss">
.mb-2 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.el-menu-vertical {
    border: 0;

}
</style>