<template>
  <div class="header-container">
    <!--header 左边切换右侧菜单折叠 和 路由导航  -->
    <div class="left">
      <el-icon @click="collapseMenuFunc()">
        <component :is="collapseMenu?Expand:Fold" />
      </el-icon>
      <el-breadcrumb :separator-icon="ArrowRight">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <!-- header右侧 全屏 刷新 设置 和 用户菜单 -->
    <div class="right">
      <TabIcon :icon="Refresh" ></TabIcon>
      <TabIcon :icon="FullScreen" :func="fullScreen"></TabIcon>
      <TabIcon :icon="Setting" ></TabIcon>
      
      <el-avatar src="" :size="25"></el-avatar>
      <el-dropdown trigger="click" class="user-data">
        <span class="el-dropdown-link">
          ADMIN<el-icon class="el-icon--right"><arrow-down /></el-icon>
        </span>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item @click="loginOut">退出</el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, onMounted,ref,computed } from "vue";
// Element icon 
import { ArrowRight,FullScreen,Setting,Refresh,Expand,Fold } from '@element-plus/icons-vue'
// 引入user store
import useUser from "../../store/modules/user";
import commStore from "../../store/modules/comm";
// 路由
import { useRouter } from "vue-router";

import TabIcon from './tabIcon.vue'

let useUserStore = useUser();
let useCommStore = commStore()
// const collapseMenu = ref(useCommStore.collapseMenu)
const collapseMenu = computed(()=>{
  
  return useCommStore.collapseMenu
})
const breadCrumb = reactive([
  {
    id: 1,
    name: "首页",
    path: "/",
    icon: "HomeFilled",
  },
  {
    id: 2,
    name: "权限管理",
    path: "rootUserRoot",
    icon: "HomeFilled",
  },
]);
const userInfo = reactive({obj:{}})
const $router = useRouter()
const loginOut = () => {
  // console.log('lllllllllllll')
  localStorage.setItem('TOKEN', '')
  $router.push('/login')
}
// 点击修改仓库collapseMenu 状态
const collapseMenuFunc = ()=>{
  // console.log(useCommStore.collapseMenu)
  useCommStore.collapseMenu = !useCommStore.collapseMenu
}

// 点击全屏
const fullScreen = () => {
  // @ts-ignore
  if (document.fullscreenElement || document.webkitFullscreenElement || document.mozFullScreenElement || document.msFullscreenElement) {
    // @ts-ignore
    if (document.cancelFullScreen) {
      // @ts-ignore
      document.cancelFullScreen();
    }
    // @ts-ignore
    else if (document.webkitCancelFullScreen) {
      // @ts-ignore
      document.webkitCancelFullScreen();
    }
    // @ts-ignore
    else if (document.mozCancelFullScreen) {
      // @ts-ignore
      document.mozCancelFullScreen();
    }
    // @ts-ignore
    else if (document.msCancelFullScreen) {
      // @ts-ignore
      document.msCancelFullScreen();
    }
  } else {
    document.querySelector('html')?.requestFullscreen()
    .then(() => {// 进入全屏成功
    })
    .catch(() => {// 进入全屏失败
    })
  }
}

onMounted(() => {

  // console.log(typeof Refresh)
  useUserStore.userinfo().then(res => {
    // for (let i in res) {
    //   userInfo[i] = res[i]
    // }
    userInfo.obj = res
  }).catch(err => {
    $router.push("/login");
  })
})
</script>

<style scoped lang="scss">
.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 40px 0 20px;

  >div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
  }
  >*:hover{
    cursor: pointer;
  }
}
.el-breadcrumb{
  margin-left: 20px;
}
.right{
  >*{
    margin-left: 15px;
  }
}
.user-data{
  margin-left: 5px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
</style>