<template>
    <div class="tab-icon-cont" @click="props.func">
        <!-- <i :class="props.icon"></i> -->
        <!-- <slot></slot>      -->
        <el-icon :size="size?size:16"><component :is="props.icon"/></el-icon>
    </div>
</template>

<script setup lang="ts">

// import {defineProps} from 'vue'
    const props = defineProps({
        func:Function,
        icon: Object,
        size:Number
    })
</script>

<style scoped>
.tab-icon-cont{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #d1dbd9;
    /* display: flex; */
    line-height: 23px;
    text-align: center;
}
</style>