<template>
    <div class="container">
        <div class="box" ref="box">
            <div class="top"></div>
            <div class="main">
                <div class="left">
                    <WorkShop></WorkShop>
                    <Load></Load>
                    <WorkSection></WorkSection>
                </div>
                <div class="center"></div>
                <div class="right"></div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'

import WorkShop from './components/workShop.vue'
import Load from './components/load.vue'
import WorkSection from './components/workSection.vue'


const box = ref()
// window.in
function getScale(w = 2500, h = 1460) {
    const ww = window.innerWidth / w
    const wh = window.innerHeight / h
    return ww < wh ? ww : wh
}
onMounted(() => {
    // getSc()
    box.value.style.transform = `scale(${getScale()}) translate(-50%,-50%)`
    window.onresize = () => {
        box.value.style.transform = `scale(${getScale()}) translate(-50%,-50%)`
    }
})
</script>

<style scoped>
.container {
    width: 100%;
    height: 100%;
    background-color: #020828;
}

.box {
    position: fixed;
    width: 2500px;
    height: 1460px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform-origin: top left;
}
.top{
    width: 100%;
    height: 115px;
    /* background-color: aqua; */
    background-image: url('../../assets/photo/screen-top-bg.jpg') ;
    background-repeat: no-repeat;
    background-size:cover;

}
.main{
    width: 100%;
    height: 1340px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.main>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.left{
    /* flex: 1.5; */
    width: 740px;
    height: 100%;
    /* background: pink; */
}
.center{
    /* flex: 2; */
    width: 980px;
    height: 100%;
    /* background-color: orange; */
}
.right{
    /* flex: 1.5; */
    width: 740px;
    height: 100%;
    /* background-color: purple; */
}

</style>