<template>
  <el-container class="main-container">
    <el-aside width="220px" class="aside">
      <Aside></Aside>
    </el-aside>
    <el-container>
      <el-header class="header">
        <Header></Header>
      </el-header>
      <el-main class="main"> <router-view></router-view></el-main>
    </el-container>
  </el-container>
</template>

<script setup lang="ts">
import Aside from "../../components/home/aside.vue";
import Header from "../../components/home/header.vue";
import { onMounted } from "vue";
import { useRouter } from "vue-router";
import useUser from "../../store/modules/user";
// const userInfo = reactive({})
const $router = useRouter();
const useUserStore = useUser();

onMounted(() => {
  // 校验登录状态，没登录直接跳转登录页
  // let result = useUserStore.userinfo();
  // result.then(res=>{
  // }).catch(err=>{
  //   $router.push("/login");
  // })
});
</script>
<style scoped lang="scss">
.main-container {
  width: 100vm;
  height: 100vh;
  .aside {
    height: 100%;
    background-color: rgb(0, 20, 44);
  }
  .header {
    background-color: #fff;
    height: 60px;
    // padding:0;
    box-shadow: 1px 0 1px 1px rgb(226, 222, 222);
  }
}
</style>
