<template>
   <Echarts></Echarts>
</template>

<script setup lang="ts">
import Echarts from '../../components/comm/echarts.vue'
</script>

<style scoped lang="scss">
    .form-body{     
        width: 600px;
        height: auto;
        box-shadow: 0 0 2px 1px rgb(218, 216, 216);
        padding: 10px 20px;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* align-items: ; */
        >.el-form-item{
            width: 400px;
        }
    }
</style>