<template>
  
    <router-view></router-view>

 
</template>

<script setup lang="ts">

  
</script>
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body,html,#app{
  width: 100%;
  height: 100%;
  font-size: 20px;
}


</style>
