<template>
  <div class="login_container">
    <el-row style="width: 100%; height: 100%">
      <!-- 占位 -->
      <el-col :span="12" :xs="0"></el-col>
      <el-col class="form-container" :span="12" :xs="24">
        <el-form class="form">
          <h1>后台系统</h1>
          <h3>欢迎使用</h3>
          <el-form-item>
            <el-input
              type="name"
              placeholder="账号"
              :prefix-icon="User"
              v-model="loginForm.name"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-input
              type="password"
              placeholder="密码"
              :prefix-icon="Lock"
              :show-password="true"
              v-model="loginForm.password"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              :disabled="loading.status"
              :loading="loading.status"
              class="form-botton"
              @click="login"
              >登录</el-button
            >
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script setup lang="ts">
// 引入element icon
import { User, Lock } from "@element-plus/icons-vue";
import { reactive, ref } from "vue";
import useUser from "../../store/modules/user";
import { ElNotification } from "element-plus";
import { useRouter } from "vue-router";
import { loginForm } from "../../api/user/type";

// let loading:boolean= ref(false)
let loading = reactive({
  status: false,
});
let loginForm: loginForm = reactive({
  name: "admin",
  password: "admin",
});
let $router = useRouter();
let useUserStore = useUser();
const login = async () => {
  loading.status = true;
  let result = useUserStore.userLogin(loginForm);
  result
    .then((res) => {
      // console.log(res)
      // useUserStore.token = res.token
      $router.push("/");
      loading.status = false;
      ElNotification.success({
        title: "提示",
        message: res,
        duration:2000
        // showClose: false,
      })
      
    })
    .catch((err) => {
      // console.log(err)
        loading.status = false;
        ElNotification.error({
        title: "提示",
        message: err,
        duration:2000
      // showClose: false,
      })
    });
};
</script>

<style lang="scss" scoped>
.login_container {
  background-color: rgb(5, 5, 82);
  width: 100%;
  height: 100vh;

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
      width: 450px;
      height: auto;
      min-width: 400px;
      background-color: rgba(45, 45, 201, 0.1);
      border-radius: 10px;
      // opacity: 0.5;
      padding: 15px 0 15px 30px;

      .el-form-item {
        padding: 0 40px;
      }

      > h1 {
        color: #fff;
      }
      > h3 {
        padding: 20px 0px;
        color: #fff;
      }
      .form-botton {
        width: 100%;
      }
    }
  }
}
</style>
